<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../public/bootstrap.css">
</head>
<body>
<div style="margin: 50px auto; width:200px;height: 200px">
    <form class="form-horizontal" method="post">
        <div class="control-group">
            <label class="control-label">用户名</label>
            <div class="controls">
                <input name="userage" type="text" placeholder="请输入用户名">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">密码</label>
            <div class="controls">
                <input name="username" type="password" id="inputPassword" placeholder="请输入密码">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">确定</button>
            </div>
        </div>
    </form>

</div>

</body>
</html>